#####################################################################
# 	X/Y Stepper Settings
#####################################################################

[stepper_x]
##	Connected to X on mcu_xye (B Motor)
step_pin: X_STEP
dir_pin: X_DIR
enable_pin: !X_ENABLE
rotation_distance: 32 #Gear 16x teeth
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: X_MAX
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 100   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[stepper_y]
##	Connected to Y on mcu_xye (A Motor)
step_pin: Y_STEP
dir_pin: Y_DIR
enable_pin: !Y_ENABLE
rotation_distance: 32 #Gear 16x teeth
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: Y_MAX
position_min: 0
position_endstop: 358
position_max: 358
homing_speed: 100  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z MCU - In X Position
## Z0 Stepper - Front Left
[stepper_z]
step_pin: z:X_STEP
dir_pin: z:X_DIR
enable_pin: !z:X_ENABLE
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
endstop_pin: z:Z_MAX
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: 0,49
position_max: 310
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

##	Z MCU - In Y Position
##	Z1 Stepper - Rear Left
[stepper_z1]
step_pin: z:Y_STEP
dir_pin: !z:Y_DIR
enable_pin: !z:Y_ENABLE
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

##	Z MCU - In Z Position
##	Z2 Stepper - Rear Right
[stepper_z2]
step_pin: z:Z_STEP
dir_pin: z:Z_DIR
enable_pin: !z:Z_ENABLE
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

##	Z MCU - In E0 Position
##	Z3 Stepper - Front Right
[stepper_z3]
step_pin: z:E0_STEP
dir_pin: !z:E0_DIR
enable_pin: !z:E0_ENABLE
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

#####################################################################
# 	Extruder
#####################################################################

#	E0 on MCU X/Y
[extruder]
step_pin: E0_STEP
dir_pin: E0_DIR
enable_pin: !E0_ENABLE
##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 22.3735412	#Bondtech 5mm Drive Gears
##	Update Gear Ratio depending on your Extruder Type
##	Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##	Use 80:20 for M4, M3.1
gear_ratio: 50:17				;BMG Gear Ratio
microsteps: 16
full_steps_per_rotation: 200	;200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: HEAT_0
##	Validate the following thermistor type to make sure it is correct
sensor_type: ATC Semitec 104GT-2
sensor_pin: TEMP_0
min_temp: 10
max_temp: 290
max_power: 1.0
min_extrude_temp: 170
max_extrude_only_distance: 300
control = pid
pid_kp = 24.212
pid_ki = 1.323
pid_kd = 110.771
##	Try to keep pressure_advance below 1.0
pressure_advance: 0.03
##	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040

## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"